caption,
table,
tr,
th,
td {
    border: 5px solid purple;
    border-collapse: collapse;
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
}

td {
    max-width: 500px;
    font-size: 25px;
    background-color: rgb(198, 248, 198);
    font-weight: bold;
}

th {
    font-size: 30px;
    background-color: rgb(217, 214, 255);
}

caption {
    border-bottom: none;
    font-size: 40px;
    background-color: rgb(198, 248, 198);
}


img {
    max-width: 500px;
    padding-top: 5px;
    background-color: rgb(198, 248, 198);
}

tfoot td {
    text-align: right;
    padding-right: 25px;
    background-color: rgb(217, 214, 255);
}

h1 {
    color: purple;
    text-align: center;
    font-size: 80px;
}

.ontario,
.bc,
.nwt,
.yukon,
.nova {
    background-color: rgb(198, 249, 198);
}